body{
	background: #C0D9D9 url(imagenes/fondo.gif) repeat;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #666666;
	margin: 20px 0px 20px opx;
	text-align: center;
	}
#contenedor{
	text-align: left;
	width: 700px;
	background-color: #ffffff;
	margin: auto;
}
#cabecera{
	height:106px;
	width: 700px;
}
#navegador{
	background: #f5f4c3 url(imagenes/fondonav.gif);
	padding: 3px 10px 5px 10px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid  #cccccc;
}
a.enlacenav, a.enlacenav:visited, a.enlacenav:active, a.enlacenav:focus, a.enlacenav:link{
	color: #494e6b;
}
a.enlacenav:hover{
	color: #3f7de3;
}
#cuerpo{
	width: 480px;
	margin-left: 8px;
	padding: 12px 0px 10px 0px;
	background-color: #ffffff;
	float: left;
}
h1{
	font-size: 12pt;
}
#navabajo{
	font-weight: bold;
}
#lateral{
	width: 200px;
	background-color: #ebf2fe;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	float: right;
}
.titlat{ 
	background-color:#68729E; 
	color:#ffffff; 
	font-size:8pt; 
	text-transform : uppercase; 
	padding: 7px 3px 7px 8px; 
	font-weight : normal; 
	letter-spacing : 2px; 
	margin: 0px 0px 8px 0px; 
} 
.cuerpolateral{ 
	padding: 5px 4px 13px 10px; 
}
INPUT { 
	font-size : 8pt; 
}
#fbuscar form{ 
	margin-bottom : 0px; 
	margin-top : 0px; 
}
#campotexto{ 
	float: left; 
}
#campotexto input{ 
	width:100px; 
} 
#botonbuscar { 
	padding-top : 3px; 
	padding-left: 106px; 
}
#botonbuscar input{ 
	border : 0px none; 
}
.radio{ 
	clear:both; 
} 
#otras ul{ 
	margin : 5px 10px 0px 0px; 
	padding: 0px 0px 0px 4px; 
	list-style: none; 
}
#otras li{ 
	padding-left: 14px; 
	background: transparent url("imagenes/bullet.gif") 0 2px no-repeat; 
	margin-bottom: 10px;	
} 
#pie{ 
	clear : both; 
	color : #cccccc; 
}