#caja1 {
  float:left;
  width:250px;
  background-color:#ffc;
  margin:10px;
}

#caja2 {
  float:left;
  width:250px;
  background-color:#ffc;
  margin:10px;
}

#caja3 {
  float:left;
  width:250px;
  background-color:#ffc;
  margin:10px;
}

#caja4 {
  float:left;
  clear:left;
  width:250px;
  background-color:#ffc;
  margin:10px;
}