body {
	background-color:#f1f1f1;
	font-family:"Lucida Sans", "Lucida Sans Regular";
	color:#555;
}
#contenedor {
	width:1200px;
	margin:auto;
}
header {
	width:1200px;
	height:150px;
}
#logo {
	background-image:url("../images/logo.png");
	background-size:180px 170px;
	width:180px;
	height:170px;
	float:left;
	margin-left:30px;
}
#titulo {
	background-image:url("../images/title.png");
	background-size:450px 130px;
	width:450px;
	height:130px;
	float:left;
	margin-left:10px;
}
#cuerpo {
	clear:both;
	background-color:white;
	box-shadow:0px 10px 25px grey;
	margin-top:0px;
	overflow:hidden;
	min-height:1050px;
}
#menu {
	padding-top:15px;
	float:left;
}
h3 {
	margin-left:35px;
	margin-bottom:5px;
	font-weight:normal;
	font-size:98%;
}
ul {
	margin-top:5px;
}
ul li {
	list-style-image:url("../images/lists.png");
	font-size:11pt;
	margin-left:15px;
}
a {
	text-decoration:none;
	color:#555;
}
a:hover {
	text-decoration:underline;
}
#buscador {
	float:right;
	width:300px;
}
#buscador input {
	background-image:url(http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif);
	background-repeat:no-repeat;
	background-size:150px 15px;
	background-position:center;
	background-position:left;
	width:215px;
	height:20px;
	float:left;
}
#buscador p {
	font-size:80%;
	margin-bottom:0px;
	font-style:italic;
	margin-top:100px;
}
#imagenBuscador {
	background-image:url(../images/search_box_icon.png);
	background-size:13px 13px;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#555;
	border-radius:2px;
	width:67px;
	height:25px;
	float:right;
}
#imagenBuscador:hover{
	cursor:pointer;
}
#imagen {
	background-size:100px 80px;
	width:100px;
	height:80px;
	box-shadow:0px 10px 20px 3px #d3d3d3;
	border-radius:4px;
	float:left;
	background-image:url(../images/box.png);
	background-repeat:no-repeat;
	background-position:center;

}
.imagen1 {
	background-color:#87C71D;
}
.imagen2 {
	background-color:#07B3D3;
}
.imagen3 {
	background-color:#555;
}
.imagen4 {
	background-color:#ff9900;
}
.imagen5 {
	background-color:#41BC81;
}
.imagen6 {
	background-color:#6A8CE9;
}
section {
	margin-left:250px;
	margin-top:-50px;
}
#tituloCursos{
	float:left;
	margin-left:10px;
}
h1 {
	font-weight:normal;
	font-size:200%;
}
#box {
	float:left;
	width:300px;
	margin-top:50px;
}

#enlace {
	border:1px solid #e3e3e3;
	border-radius:4px;
	padding:8px;
	font-size:16px;
	font-family:Verdana, sans-serif;
	width:170px;
	float:left;
	margin-top:10px;
	color:#555;
	background-color:#f1f1f1;
}
#enlace:hover{
	color:white;
	background-color:#555;
	text-decoration:none;
}
#caja {
	width:490px;
	text-align:center;
	background-color:#f1f1f1;
	float:left;
	margin-top:50px;
	border:1px solid #e3e3e3;
}
#caja p {
	line-height:4px;
	font-size:90%;
}
#caja a{
	width:400px;
	background-color:white;
	margin-left:35px;
	margin-bottom:20px;
}
#caja a:hover {
	background-color:#555;
	color:white;
}
#caja h1 {
	font-size:170%;
}
#referencias {
	float:right;
	margin-right:170px;
}
#referencias ul {
	margin-left:0px;
	padding:0px;
}
#referencias h1 {
	margin-left:-10px;
	margin-bottom:10px;
}
#enlace.enlaceFueraBox {
	margin-top:50px;
}
#enlace.enlaceFueraBox2 {
	clear:left;
	float:left;
	margin-top:-130px;
}
#fotoColor {
	background-image:url(../images/color.png);
	background-size:110px 103px;
	width:110px;
	height:103px;
	margin-left:30px;
}
#seleccionColor {
	float:left;
	margin-top:-220px;
	margin-left:305px;
}
#seleccionColor h3 {
	margin-top:-5px;
}
footer {
	text-align:center;
	font-size:11px;
	margin:0px;
	padding:0px;
	word-spacing:6px;
}
#imagenFooter {
	background-image:url(../images/w3schoolscom_gray.gif);
	background-size:150px 28px;
	width:150px;
	height:28px;
	float:left;
	margin-top:20px;
	margin-left:10px;
}
#imagenFaceBook {
	background-image:url(../images/fblike.gif);
	background-size:52px 22px;
	width:52px;
	height:22px;
	float:left;
	margin-top:25px;
	margin-left:400px;
}
#menuFooter {
	float:right;
	margin-top:25px;
	margin-right:10px;
	margin-bottom:10px;
}
#menuFooter a.conBordes {
	border-left:1px solid #555;
	border-right:1px solid #555;
	padding-left:10px;
	padding-right:10px;
}
#parrafoFooter {
	float:left;
}
